.class-container {
    top: 130px;
    position: absolute;
    color: black;
    margin-top: 180px;
}


/*for img*/

.profile1 {
    border-radius: 100%;
    width: 50px;
}

.profile2 {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 100%;
}

.profile3 {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 100%;
}

.profile4 {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 100%;
}

.colorBar1 {
    background-color: #8119c4;
    width: 100%;
    height: 20px;
    position: relative;
}

.colorBar2 {
    background-color: #1a51c6;
    width: 100%;
    height: 20px;
    position: relative;
}

.colorBar3 {
    background-color: #c4a318;
    width: 100%;
    height: 20px;
    position: relative;
}

.colorBar4 {
    background-color: #19c593;
    width: 100%;
    height: 20px;
    position: relative;
}

.project-container {
    border: 1px solid black;
}

#counterPost {
    background-color: #fe0000 !important;
    color: #ffffff;
    font-size: 15px;
    padding: 1px;
    width: 40px;
    border-radius: 40%;
    text-align: center;
}

.calendar {
    background-color: #041662;
    color: #ffffff;
    padding: 50%;
}